[submodule "demo"]
	path = demo
	url = https://github.com/escapedcanadian/mfd-demo
[submodule "android"]
	path = android
	url = https://github.com/escapedcanadian/mfd-android
[submodule "web"]
	path = web
	url = https://github.com/escapedcanadian/mfd-web
